.navbar {
    display: flex;
    top: 0px;
    background-color: #2D4525;
    height: 50px;
    width: 100vw;
    min-width: 100vw;
    justify-items: center;
    align-items: center;
}

.navbar__navLink {
    margin: 5px 5px 5px auto;
    display: inline-block;
    padding: 5px;
    color: #7C7979;
    cursor: pointer;
}

.navbar__navLinkList {
    display: flex;
    margin-right: auto;
    list-style-type: none;

    .navbar__navLink {
        color: #FFFFFF;

        &:hover {
            color: #B7F3D5;
        }

        &:focus {}
    }

    margin-left:0;
}

.navbar__logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 auto 0 0;
}

.imageLink {
    text-decoration-line: none;
}